@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  font-size: 22px;
  color: black;
  line-height: 1.5;
  margin: 0.25rem;
}

pre {
  text-wrap: auto;
}

code {
  display: inline-block;
  background-color: aliceblue;
  font-size: 1rem;
  padding: 0 2rem;
  box-sizing: border-box;
  margin: 0.25rem;
  border: 1px solid black;
  border-radius: 0.25rem/0.25rem;
  max-width: 90%;
  word-wrap: break-word;

  @media (prefers-color-scheme: dark) {
    background-color: rgb(253, 253, 253);
    color: black;
    border: dashed 2px orange;
  }
}

ol, ul {
  list-style-position: inside;
  list-style: square;
  margin-left: 1.25rem;
}

p, li {
  margin: 1.25rem 0;
}

p:last-of-type {
  margin-top: 0;
}
